<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle Comercial</title>
<style>
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.verde {
	background-color: green;
}

.blanco {
	background-color: white;
}

.rojo {
	background-color: yellow;
}

</style>
</head>
<body>

<div id="contenedora" style="float:none; margin: 0 auto;width: 900px;" >
		<div class="clearfix">
			<div style="float: left; width: 50%">
				<h1 th:text="#{detalle_comercial}"></h1>
			</div>
			<div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
				
				<div style="position: absolute; left: 39%; top : 39%;">
					
						<form action="/comerciales" >
							<input type="submit" th:value="#{volver}" />
						</form>
					</div>
				
			</div>
		</div>
		
		<div class="clearfix">
			<hr/>
		</div>

		<div style="margin-top: 6px;" class="clearfix">
			<div th:text="#{id}" style="float: left;width: 50%"></div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${comercial.id}" value="Id" readonly="readonly"/>
			</div> 
		</div>
		
		<div style="margin-top: 6px;" class="clearfix">
			<div th:text="#{nombre}" style="float: left;width: 50%"></div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${comercial.nombre}" value="nombre" readonly="readonly"/>
			</div> 
		</div>
		
		<div style="margin-top: 6px;" class="clearfix">
			<div th:text="#{apellido1}" style="float: left;width: 50%"></div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${comercial.apellido1}" value="apellido1" readonly="readonly"/>
			</div> 
		</div>
		
		<div style="margin-top: 6px;" class="clearfix">
			<div th:text="#{apellido2}" style="float: left;width: 50%"></div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${comercial.apellido2}" value="apellido2" readonly="readonly"/>
			</div> 
		</div>
		
		<div style="margin-top: 6px;" class="clearfix">
			<div th:text="#{comision}" style="float: left;width: 50%"></div>
			<div style="float: none;width: auto;overflow: hidden;">
				<input th:value="${comercial.comision}" value="comision" readonly="readonly"/>
			</div> 
		</div>
		
		<h2 th:text="#{lista_de_pedidos}" style="margin-top: 25px;" class="clearfix"></h2>
		<div th:if="${listaPedidos.size() != 0}"  th:each="pedido : ${listaPedidos}" style="margin-top: 6px;" class="clearfix">
			<div th:class="${pedido.total} == ${max} ? 'verde' : (${pedido.total} == ${min} ? 'rojo' : 'blanco')">
				<div style="float: left;width: 14%" th:text="${pedido.id}"></div>
				<a th:href="@{/clientes/}+${pedido.id_cliente}" style="float: left;width: 14%" th:text="${pedido.nombreCliente}"></a>
				<div style="float: left;width: 14%" th:text="${pedido.total}"></div>
				<div style="float: left;width: 14%" th:text="${pedido.fecha}"></div>
				&nbsp
			</div>
		</div>
		
		<div th:if="${listaPedidos.size() == 0}">
			<p th:text="#{no_pedidos_comercial}"></p>
		</div>
		
		<h2 th:text="#{estadisticas}" style="margin-top: 25px;" class="clearfix"></h2>
		<p th:text="#{total} + ': ' + ${total}"></p>
		<p th:text="#{media} + ': ' + ${media}"></p>
		
		<h2 th:text="#{lista_de_clientes}" style="margin-top: 25px;" class="clearfix"></h2>
		<div th:if="${listaClientes.size() != 0}"  th:each="cliente : ${listaClientes}" style="margin-top: 6px;" class="clearfix">
				<div style="float: left;width: 14%" th:text="${cliente.id}"></div>
				<a th:href="@{/clientes/}+${cliente.id}" style="float: left;width: 30%" th:text="${cliente.nombre} + ' ' + ${cliente.apellido1} + ' ' + (${cliente.apellido2} == null? ' ': ${cliente.apellido2})"></a>
				<div style="float: left;width: 14%" th:text="${cliente.pedidoMax}"></div>
		</div>
		
		<div th:if="${listaClientes.size() == 0}">
			<p th:text="#{no_pedidos_comercial}"></p>
		</div>
</div>

</body>
</html>